@import "../global.scss";

/* Dimenstions */

$sidebar-width: 215px;

/* XX Dimenstions XX */


/* Main user pages structure */

#app {
    display: grid;
    grid-template-columns: $sidebar-width auto;
    .Sidebar-container {
        min-height: calc(100vh - #{$header-height});
        height: 768px;
        width: $sidebar-width;
        position: relative;
        .Sidebar {
            height: 100%;
            width: $sidebar-width;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            position: fixed;
        }
    }
    .PageContentContainer {
        background: $dark-white;
        min-height: calc(100vh - #{$header-height});
        overflow-x: hidden;
    }
}


/* XX Main user pages structure XX */