/* Resetting */

@font-face {
    font-weight: bolder;
    font-family: Lato-Regular;
    src: url(../fonts/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: Lato-Bold;
    src: url(../fonts/Lato/Lato-Bold.ttf);
}

@font-face {
    font-family: Lato-Medium;
    src: url(../fonts/Lato/Lato-Black.ttf);
}

html,
body {
    margin: 0 !important;
    padding: 0 !important;
    font-family: 'Lato-Regular' !important;
    overflow-x: hidden;
}

p {
    // margin: 0 !important;
    margin-bottom: 0 !important;
    margin-top: 0;
}

a:hover {
    text-decoration: none !important;
}


/* Bootstrap colors */

.btn-primary {
    background: #15B2D3 !important;
    border-color: #15B2D3 !important;
}

.btn-warning {
    background: #ffa800 !important;
    border-color: #ffa800 !important;
    color: #fff !important;
}

.text-primary {
    color: #15B2D3 !important;
}


/* ---------- Global ---------- */


/* Color Variables */

$blue: #15B2D3;
$white: #fff;
$orange: #FDBD42;
$dark-orange: #FFA800;
$dark-white: #F3F3F3;
$light-white: #FAFAFA;
$dark-grey: #00000080;
$light-grey: #F8F8F8;
$text-dark-grey: #000000B3;
$black: #000;

/* Dimensions */

$header-height: 28px;
$navbar-height: 122px;

/* Shadows */

$small-shadow: 0px 0px 10px #0000001A;
$big-shadow: 0px 3px 6px #00000033;

/* Mixins */

@mixin flex-center-center {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

@mixin flex-center-center-column {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-space-between-center {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-center-flex-start {
    display: flex;
    flex-direction: row;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

@mixin grid-1fr-1fr {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

@mixin grid-1fr-2fr {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
}

@mixin grid-1fr-3fr {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: center;
    align-items: center;
}


/* Mixins */

@mixin large-rounded-button {
    border-radius: 20px;
    width: 150px;
    height: 40px;
}

button {
    cursor: pointer;
}

.hidden {
    display: none !important;
}

.opacity-0 {
    opacity: 0 !important;
}

.opacity-1 {
    opacity: 1 !important;
}

.rotate-180 {
    -webkit-animation: rotate-180 1s normal;
    /* Safari 4+ */
    -moz-animation: rotate-180 1s normal;
    /* Fx 5+ */
    -o-animation: rotate-180 1s normal;
    /* Opera 12+ */
    animation: rotate-180 1s normal;
    /* IE 10+, Fx 29+ */
}

.rotate-0 {
    -webkit-animation: rotate-0 1s normal;
    /* Safari 4+ */
    -moz-animation: rotate-0 1s normal;
    /* Fx 5+ */
    -o-animation: rotate-0 1s normal;
    /* Opera 12+ */
    animation: rotate-0 1s normal;
    /* IE 10+, Fx 29+ */
}


/* animations */

@-webkit-keyframes rotate-180 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-180deg);
    }
}

@-moz-keyframes rotate-180 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-180deg);
    }
}

@-o-keyframes rotate-180 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-180deg);
    }
}

@keyframes rotate-180 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-180deg);
    }
}

@-webkit-keyframes rotate-0 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-180deg);
    }
}

@-moz-keyframes rotate-0 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-180deg);
    }
}

@-o-keyframes rotate-0 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-180deg);
    }
}

@keyframes rotate-0 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(-180deg);
    }
}


/* XX animations XX */