/* ----- Login Container ----- */

/* Resetting */

@font-face {
  font-weight: bolder;
  font-family: Lato-Regular;
  src: url(/fonts/Lato-Regular.ttf?2d36b1a925432bae7f3c53a340868c6e);
}

@font-face {
  font-family: Lato-Bold;
  src: url(/fonts/Lato-Bold.ttf?85d339d916479f729938d2911b85bf1f);
}

@font-face {
  font-family: Lato-Medium;
  src: url(/fonts/Lato-Black.ttf?e631d2735799aa943d93d301abf423d2);
}

html,
body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Lato-Regular" !important;
}

p {
  margin: 0;
}

/* ---------- Global ---------- */

/* Color Variables */

/* Dimensions */

/* Shadows */

/* Mixins */

/* Mixins */

button {
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.opacity-0 {
  opacity: 0 !important;
}

.opacity-1 {
  opacity: 1 !important;
}

.rotate-180 {
  -webkit-animation: rotate-180 1s normal;
  /* Safari 4+ */
  /* Fx 5+ */
  /* Opera 12+ */
  animation: rotate-180 1s normal;
  /* IE 10+, Fx 29+ */
}

.rotate-0 {
  -webkit-animation: rotate-0 1s normal;
  /* Safari 4+ */
  /* Fx 5+ */
  /* Opera 12+ */
  animation: rotate-0 1s normal;
  /* IE 10+, Fx 29+ */
}

/* animations */

@-webkit-keyframes rotate-180 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-180deg);
  }
}

@keyframes rotate-180 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-180deg);
  }
}

@-webkit-keyframes rotate-0 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-180deg);
  }
}

@keyframes rotate-0 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-180deg);
  }
}

/* XX animations XX */

.login-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 28px);
  padding: 0 140px;
}

.login-container .right {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-container .right .title {
  font-size: 24px;
  color: #15B2D3;
  margin-bottom: 36px;
}

.login-container .right .form-container {
  width: 100%;
}

.login-container .right .form-container .input-container {
  display: flex;
  flex-direction: row;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.login-container .right .form-container .input-container .form-label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 18px;
  margin-top: 12px;
  color: #000;
}

.login-container .right .form-container .input-container .form-input {
  width: 536px;
  height: 45px;
  background: #F3F3F3;
  border-radius: 23px;
  padding: 24px;
  margin-bottom: 24px;
  font-size: 14px;
}

.login-container .right .form-container .form-footer {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.login-container .right .form-container .form-footer .remember-me-label {
  font-size: 14px;
  color: #000;
}

.login-container .right .form-container .form-footer .forget-password {
  color: #00000080;
}

.login-container .right .form-container .button-container {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.login-container .right .form-container .button-container .login-button {
  border-radius: 20px;
  width: 150px;
  height: 40px;
  background: #FDBD42;
  width: 200px;
  margin: 40px auto;
  font-size: 18px;
  color: #fff;
}

/* ----- XX Login Container XX ----- */

/* --------- Reset Password --------- */

.reset-password-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 28px);
  padding: 0 140px;
}

.reset-password-container .right {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.reset-password-container .right .title {
  font-size: 24px;
  color: #15B2D3;
  margin-bottom: 36px;
  font-family: "Lato-Bold";
}

.reset-password-container .right .subtitle {
  font-size: 14px;
  text-align: center;
  width: 250px;
  color: #00000080;
  margin-bottom: 30px;
}

.reset-password-container .right .form-container {
  width: 100%;
}

.reset-password-container .right .form-container .input-container {
  display: flex;
  flex-direction: row;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.reset-password-container .right .form-container .input-container .form-label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 18px;
  margin-top: 12px;
  color: #000;
}

.reset-password-container .right .form-container .input-container .form-input {
  width: 536px;
  height: 45px;
  background: #F3F3F3;
  border-radius: 23px;
  padding: 24px;
  margin-bottom: 24px;
  font-size: 14px;
}

.reset-password-container .right .form-container .button-container {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.reset-password-container .right .form-container .button-container .login-button {
  border-radius: 20px;
  width: 150px;
  height: 40px;
  background: #FDBD42;
  width: 200px;
  margin: 40px auto;
  font-size: 18px;
  color: #fff;
}

/* --------- XX Reset Password XX --------- */

/* ---------  Verify Phone  --------- */

.verify-phone-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 28px);
  padding: 0 140px;
}

.verify-phone-container .right {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.verify-phone-container .right .title {
  font-size: 24px;
  font-family: "Lato-Bold";
  color: #15B2D3;
  margin-bottom: 36px;
}

.verify-phone-container .right .subtitle {
  font-size: 14px;
  text-align: center;
  color: #00000080;
  margin-bottom: 30px;
}

.verify-phone-container .right .form-container {
  width: 100%;
}

.verify-phone-container .right .form-container .input-container {
  display: flex;
  flex-direction: row;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.verify-phone-container .right .form-container .input-container .digit-input {
  height: 45px;
  width: 45px;
  background: #F3F3F3;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 24px;
  font-size: 14px;
  text-align: center;
  margin: 0 6px;
}

.verify-phone-container .right .form-container .button-container {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.verify-phone-container .right .form-container .button-container .login-button {
  border-radius: 20px;
  width: 150px;
  height: 40px;
  background: #FDBD42;
  width: 200px;
  margin: 40px auto;
  font-size: 18px;
  color: #fff;
}

/* ---------  XX Verify Phone XX  --------- */

.renew-password-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 28px);
  padding: 0 140px;
}

.renew-password-container .right {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.renew-password-container .right .title {
  font-size: 24px;
  color: #15B2D3;
  margin-bottom: 36px;
  font-family: "Lato-Bold";
}

.renew-password-container .right .subtitle {
  font-size: 14px;
  text-align: center;
  color: #00000080;
  margin-bottom: 40px;
}

.renew-password-container .right .form-container {
  width: 100%;
}

.renew-password-container .right .form-container .input-container {
  display: flex;
  flex-direction: row;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.renew-password-container .right .form-container .input-container .form-label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 18px;
  margin-top: 12px;
  color: #000;
}

.renew-password-container .right .form-container .input-container .form-input {
  width: 536px;
  height: 45px;
  background: #F3F3F3;
  border-radius: 23px;
  padding: 24px;
  margin-bottom: 24px;
  font-size: 14px;
}

.renew-password-container .right .form-container .button-container {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.renew-password-container .right .form-container .button-container .login-button {
  border-radius: 20px;
  width: 150px;
  height: 40px;
  background: #FDBD42;
  width: 200px;
  margin: 40px auto;
  font-size: 18px;
  color: #fff;
}

