/* Resetting */

@font-face {
  font-weight: bolder;
  font-family: Lato-Regular;
  src: url(/fonts/Lato-Regular.ttf?2d36b1a925432bae7f3c53a340868c6e);
}

@font-face {
  font-family: Lato-Bold;
  src: url(/fonts/Lato-Bold.ttf?85d339d916479f729938d2911b85bf1f);
}

@font-face {
  font-family: Lato-Medium;
  src: url(/fonts/Lato-Black.ttf?e631d2735799aa943d93d301abf423d2);
}

html,
body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Lato-Regular" !important;
}

p {
  margin: 0;
}

/* ---------- Global ---------- */

/* Color Variables */

/* Dimensions */

/* Mixins */

/* Mixins */

button {
  cursor: pointer;
}

.hidden {
  display: none !important;
}

/* Shadows */

/* Dimenstions */

/* XX Dimenstions XX */

/* Main user pages structure */

#app {
  display: grid;
  grid-template-columns: 215px auto;
}

#app .Sidebar-container {
  min-height: calc(100vh - 28px);
  height: 768px;
  width: 215px;
  position: relative;
}

#app .Sidebar-container .Sidebar {
  height: 100%;
  width: 215px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
}

#app .PageContentContainer {
  background: #F3F3F3;
  min-height: calc(100vh - 28px);
  overflow-x: hidden;
}

/* XX Main user pages structure XX */

