/* Resetting */

@font-face {
  font-weight: bolder;
  font-family: Lato-Regular;
  src: url(/fonts/Lato-Regular.ttf?2d36b1a925432bae7f3c53a340868c6e);
}

@font-face {
  font-family: Lato-Bold;
  src: url(/fonts/Lato-Bold.ttf?85d339d916479f729938d2911b85bf1f);
}

@font-face {
  font-family: Lato-Medium;
  src: url(/fonts/Lato-Black.ttf?e631d2735799aa943d93d301abf423d2);
}

html,
body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Lato-Regular" !important;
}

p {
  margin-bottom: 0 !important;
  margin-top: 0;
}

a:hover {
  text-decoration: none !important;
}

/* Bootstrap colors */

.btn-primary {
  background: #15B2D3 !important;
  border-color: #15B2D3 !important;
}

.text-primary {
  color: #15B2D3 !important;
}

/* ---------- Global ---------- */

/* Color Variables */

/* Dimensions */

/* Shadows */

/* Mixins */

/* Mixins */

button {
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.opacity-0 {
  opacity: 0 !important;
}

.opacity-1 {
  opacity: 1 !important;
}

.rotate-180 {
  -webkit-animation: rotate-180 1s normal;
  /* Safari 4+ */
  /* Fx 5+ */
  /* Opera 12+ */
  animation: rotate-180 1s normal;
  /* IE 10+, Fx 29+ */
}

.rotate-0 {
  -webkit-animation: rotate-0 1s normal;
  /* Safari 4+ */
  /* Fx 5+ */
  /* Opera 12+ */
  animation: rotate-0 1s normal;
  /* IE 10+, Fx 29+ */
}

/* animations */

@-webkit-keyframes rotate-180 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-180deg);
  }
}

@keyframes rotate-180 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-180deg);
  }
}

@-webkit-keyframes rotate-0 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-180deg);
  }
}

@keyframes rotate-0 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-180deg);
  }
}

/* XX animations XX */

/* Dimenstions */

/* XX Dimenstions XX */

/* Main user pages structure */

#app {
  display: grid;
  grid-template-columns: 215px auto;
}

#app .Sidebar-container {
  height: calc(100vh - 28px);
  width: 215px;
  position: relative;
}

#app .Sidebar-container .Sidebar {
  height: 100%;
  width: 215px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
}

#app .PageContentContainer {
  background: #FAFAFA;
  min-height: calc(100vh - 28px);
  overflow-x: hidden;
  padding: 0 130px 0 30px;
}

/* XX Main user pages structure XX */

