/* Resetting */

@font-face {
  font-weight: bolder;
  font-family: Lato-Regular;
  src: url(/fonts/Lato-Regular.ttf?2d36b1a925432bae7f3c53a340868c6e);
}

@font-face {
  font-family: Lato-Bold;
  src: url(/fonts/Lato-Bold.ttf?85d339d916479f729938d2911b85bf1f);
}

@font-face {
  font-family: Lato-Medium;
  src: url(/fonts/Lato-Black.ttf?e631d2735799aa943d93d301abf423d2);
}

html,
body {
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Lato-Regular" !important;
  overflow-x: hidden;
}

p {
  margin-bottom: 0 !important;
  margin-top: 0;
}

a:hover {
  text-decoration: none !important;
}

/* Bootstrap colors */

.btn-primary {
  background: #15B2D3 !important;
  border-color: #15B2D3 !important;
}

.btn-warning {
  background: #ffa800 !important;
  border-color: #ffa800 !important;
  color: #fff !important;
}

.text-primary {
  color: #15B2D3 !important;
}

/* ---------- Global ---------- */

/* Color Variables */

/* Dimensions */

/* Shadows */

/* Mixins */

/* Mixins */

button {
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.opacity-0 {
  opacity: 0 !important;
}

.opacity-1 {
  opacity: 1 !important;
}

.rotate-180 {
  -webkit-animation: rotate-180 1s normal;
  /* Safari 4+ */
  /* Fx 5+ */
  /* Opera 12+ */
  animation: rotate-180 1s normal;
  /* IE 10+, Fx 29+ */
}

.rotate-0 {
  -webkit-animation: rotate-0 1s normal;
  /* Safari 4+ */
  /* Fx 5+ */
  /* Opera 12+ */
  animation: rotate-0 1s normal;
  /* IE 10+, Fx 29+ */
}

/* animations */

@-webkit-keyframes rotate-180 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-180deg);
  }
}

@keyframes rotate-180 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-180deg);
  }
}

@-webkit-keyframes rotate-0 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-180deg);
  }
}

@keyframes rotate-0 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(-180deg);
  }
}

/* XX animations XX */

.blue-text {
  color: #15B2D3;
}

/* blue title underline */

.blue-underline {
  width: 100px;
  height: 2px;
  margin-top: 10px;
  background: #15B2D3;
  border-radius: 50px;
  margin-bottom: 5px;
}

/* ---------- XX Global XX ---------- */

/* ---------- Header  ----------  */

.header-container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  height: 28px;
  border-bottom: 1px solid #15B2D3;
  background: #fff;
  position: relative;
  z-index: 3;
}

.header-container .left,
.header-container .right {
  display: flex;
  flex-direction: row;
}

.header-container .left .icon-title-div,
.header-container .right .icon-title-div {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.header-container .left .icon-title-div .icon,
.header-container .right .icon-title-div .icon {
  margin: 0 10px;
  width: 19px;
  height: 19px;
}

.header-container .left .icon-title-div .header-text,
.header-container .right .icon-title-div .header-text {
  color: #15B2D3;
  font-size: 14px;
}

.header-container .left .header-link,
.header-container .right .header-link {
  height: 31px;
}

.header-container .left .icon,
.header-container .right .icon {
  margin: 0 10px;
}

/* ---------- XX Header XX ----------  */

/* ---------- Navbar  ----------  */

.navbar-container {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding: 40px 0 0 0;
  height: 122px;
}

.navbar-container .navbar-item {
  margin: 0 10px;
}

/* ---------- XX Navbar XX ----------  */

/* ----------  Hero Section  ----------  */

.hero-container {
  padding: 0 100px;
  display: flex;
  flex-direction: column;
}

.hero-container .hero-flex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

.hero-container .left .title {
  color: #15B2D3;
  font-size: 31px;
  font-weight: bold;
  margin: 20px 0;
}

.hero-container .left .description {
  text-align: justify;
  font-size: 18px;
  color: #000000B3;
}

.hero-container .left .buttons-container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  max-width: 348px;
  flex-wrap: wrap;
}

.hero-container .left .buttons-container .large-button {
  border-radius: 20px;
  width: 150px;
  height: 40px;
  background: #fff;
  color: #FDBD42;
  border: 1px solid #FDBD42;
  font-size: 15px;
}

.hero-container .left .buttons-container .large-button.active {
  background: #FDBD42 !important;
  color: #fff !important;
}

.hero-container .right {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

/* ---------- XX Hero Section XX ----------  */

/* ---------- City Location ----------  */

.city-location {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  padding: 0 20px;
  width: 100%;
  min-height: 172px;
  border-radius: 0px 0px 50px 50px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.city-location .city-location-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 172px;
}

.city-location .left {
  color: #fff;
  direction: rtl;
}

.city-location .left .title {
  font-size: 24px;
  font-weight: bold;
}

.city-location .left .city-location-underline {
  margin-top: 10px;
  width: 100px;
  height: 2px;
  background: #FDBD42;
  border-radius: 50px;
  margin-bottom: 5px;
}

.city-location .left .description {
  font-size: 14px;
}

.city-location .right {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.city-location .right .address-box {
  position: relative;
  width: 100%;
  margin: 0 0 0 50px;
  border-radius: 10px;
  box-shadow: 0px 3px 6px #00000033;
}

.city-location .right .address-box .address {
  width: 90%;
  height: 50px;
  border-radius: 10px;
  padding: 0 30px;
  font-size: 16px;
}

.city-location .right .address-box .address-go-button {
  position: absolute;
  border-radius: 10px;
  background: #FDBD42;
  color: #fff;
  right: 0px;
  width: 30%;
  height: 50px;
  font-size: 15px;
}

/* ---------- XX City Location XX ----------  */

/* ---------- Why Us ----------  */

.why-choose-us-container {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  min-height: 600px;
  padding: 60px 130px;
  background: #F8F8F8;
}

.why-choose-us-container .title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

.why-choose-us-container .title-container .title {
  font-size: 24px;
  font-weight: bold;
}

.why-choose-us-container .title-container .subtitle {
  width: 300px;
  color: #000000B3;
}

.why-choose-us-container .why-us-features {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  flex-wrap: wrap;
}

.why-choose-us-container .why-us-features .feature-container {
  width: 260px;
  height: 183px;
  border: 1px solid #E7E7E7;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 0px 10px #0000001A;
  background: #fff;
  margin: 7px 5px;
  padding: 10px;
}

.why-choose-us-container .why-us-features .feature-container.active {
  color: #fff;
  background: #FDBD42;
}

.why-choose-us-container .why-us-features .feature-container.active .icon-active {
  width: 60px;
  height: 60px;
  margin: 10px auto;
  display: block !important;
}

.why-choose-us-container .why-us-features .feature-container.active .icon {
  margin: 10px auto;
  width: 60px;
  height: 60px;
  display: none !important;
}

.why-choose-us-container .why-us-features .feature-container .icon {
  margin: 10px auto;
  width: 60px;
  height: 60px;
  display: block;
}

.why-choose-us-container .why-us-features .feature-container .icon-active {
  margin: 10px auto;
  display: none;
  width: 60px;
  height: 60px;
}

.why-choose-us-container .why-us-features .feature-container .feature-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  width: 100%;
  line-height: 1;
}

.why-choose-us-container .why-us-features .feature-container .feature-description {
  font-size: 10px;
  text-align: center;
}

/* ---------- XX Why Us XX ----------  */

/* ---------- Our Services ----------  */

.our-services-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 60px 130px;
}

.our-services-container .title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.our-services-container .title-container .title {
  font-size: 24px;
  font-weight: bold;
}

.our-services-container .title-container .subtitle {
  width: 300px;
  color: #000000B3;
}

.our-services-container .services-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  background: #fff;
  margin-top: 20px;
}

.our-services-container .services-container .service-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 300px;
}

.our-services-container .services-container .service-container .icon {
  width: 50px;
  height: 50px;
  margin: 0 20px;
}

.our-services-container .services-container .service-container .service-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.our-services-container .services-container .service-container .service-info .title {
  font-size: 16px;
  font-weight: bold;
}

.our-services-container .services-container .service-container .service-info .subtitle {
  font-size: 12px;
}

.our-services-container .services-container .service-container .service-info .read-more {
  font-size: 12px;
  margin: 5px 0 0 40px;
  color: #FDBD42;
  font-weight: bold;
}

/* ---------- XX Our Services XX ----------  */

/* --------- Our Packages ---------- */

.PackageContainer {
  margin: 20px !important;
}

.our-packages {
  width: 100%;
  min-height: 100vh;
  background: #F8F8F8;
  padding: 30px 130px 90px 130px;
}

.our-packages .title-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  margin-left: auto;
}

.our-packages .title-container .title {
  font-size: 24px;
  font-weight: bold;
}

.our-packages .title-container .subtitle {
  width: 300px;
  color: #000000B3;
}

/* --------- XX Our Packages XX ---------- */

/* ---------- How it work ----------  */

.how-it-works {
  padding: 40px 130px 80px 130px;
}

.how-it-works .title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-right: auto;
}

.how-it-works .title-container .title {
  font-size: 24px;
  font-weight: bold;
}

.how-it-works .title-container .subtitle {
  width: 300px;
  color: #000000B3;
}

.how-it-works .steps-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}

.how-it-works .steps-container .step-container {
  margin: 5px 0 5px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: right;
}

.how-it-works .steps-container .step-container.reverse {
  margin: 5px auto 5px 0;
  text-align: left;
}

.how-it-works .steps-container .step-container .step-image {
  width: 120px;
  height: 160px;
  margin: 0 40px;
}

.how-it-works .steps-container .step-container .step-text .title {
  font-size: 18px;
  color: #15B2D3;
}

/* ---------- XX How it work XX ----------  */

/* --------------- Contact US ------------ */

.contact-us {
  display: flex;
  flex-direction: column;
  margin: 20px auto 0 auto;
  min-height: 700px;
  padding: 40px 130px 60px 130px;
  background: #F8F8F8;
}

.contact-us .title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.contact-us .title-container .title {
  font-size: 24px;
  font-weight: bold;
}

.contact-us .title-container .subtitle {
  width: 300px;
}

.contact-us .contact-form {
  margin: 30px 0;
}

.contact-us .contact-form .left .form-image {
  max-width: 444px;
}

.contact-us .contact-form .right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-us .contact-form .right .form-input {
  width: 100%;
  min-width: 300px;
  height: 50px;
  border-radius: 25px;
  padding: 0 24px;
  font-size: 16px;
  margin: 5px 0;
}

.contact-us .contact-form .right .form-text-area {
  width: 100%;
  border-radius: 25px;
  padding: 24px;
  font-size: 16px;
  margin: 5px 0;
  resize: none;
}

.contact-us .contact-form .right .button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-us .contact-form .right .button-container .submit-button {
  width: 150px;
  height: 50px;
  background: #15B2D3;
  color: #fff;
  border-radius: 10px;
  margin: 20px auto;
  border: 2px solid #22AEE4;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

/* ------------- XX Contact US XX ---------- */

/* ------------- Get in Touch ---------- */

.get-in-touch {
  position: relative;
  height: 200px;
  background: #FFA800;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.get-in-touch .title {
  padding: 10px 0;
  font-size: 18px;
  font-weight: bold;
}

.get-in-touch .info {
  margin: 10px 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.get-in-touch .info .info-section {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.get-in-touch .info .info-section .icon {
  margin: 0 10px;
}

.get-in-touch .info .double-info {
  width: 270px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.get-in-touch .copyright {
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 0px;
  border-top: 2px solid #fff;
  padding: 15px 0;
}

/* ------------- XX Contact US XX ---------- */

/* RESPONSIVE */

@media screen and (min-width: 991px) {
  .form-image {
    width: 100% !important;
  }
}

@media screen and (max-width: 991px) {
  .city-location {
    justify-content: center !important;
  }

  .city-location .right,
  .city-location .left {
    margin: 20px auto !important;
  }
}

@media screen and (max-width: 768px) {
  .why-choose-us-container {
    padding: 50px;
  }

  .our-services-container {
    padding: 50px 20px;
  }

  .title-container {
    text-align: center !important;
    align-items: center !important;
  }

  .packages-title {
    text-align: center;
    margin-top: 20px;
  }

  .packages-container {
    justify-content: center !important;
  }

  .step-container:nth-child(odd) {
    flex-direction: column-reverse !important;
    text-align: center !important;
  }

  .step-container:nth-child(even) {
    flex-direction: column !important;
    text-align: center !important;
  }

  .form-image {
    display: none;
  }

  .our-packages {
    padding: 50px;
  }
}

@media screen and (max-width: 600px) {
  .section {
    padding: 30px !important;
  }
}

@media screen and (max-width: 480px) {
  .section {
    padding: 30px 10px !important;
  }
}

